# Python artifacts
__pycache__/
*.py[cod]
.triton_env

# Triton cache (Crucial!)
.triton/
triton_cache/

# Hypothesis
.hypothesis/

# Large data/logs
*.log
*.pt
*.pth
*.out

# OS specific
.DS_Store

# NFS
.nfs*
